
<div class="col-md-4 col-sm-6 <% if(i==4){ %>hidden-sm hidden-xs <% } %>  <% if(i==3){ %>hidden-sm hidden-xs <% } %> ">

        				    <div class="block-text rel zmin">
						        <a title="" href="#"><%= reviewName %></a>
							    <div class="mark">
                    <!-- My rating: <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span><span data-value="3" class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star-empty"></span><span data-value="5" class="glyphicon glyphicon-star-empty"></span>  </span> -->
                  </div>
						        <p><%= review %></p>
							    <ins class="ab zmin sprite sprite-i-triangle block"></ins>
					        </div>
							<div class="person-text rel review-person-name">
				                <img src="<%= reviewImage %>"/>
							<p><%= reviewName %></p>
								<i><%= reviewLocation %></i>
							</div>
						</div>
